---
import type { Translation, Product, Language } from "../../types";
import ProductCard from "../product/ProductCard.astro";
import SectionHeader from "../SectionHeader.astro";

interface Props {
  title?: Translation;
  subtitle?: Translation;
  maxItems?: number;
  products: Product[];
  lang: Language;
}

const { title, subtitle, maxItems, products = [], lang } = Astro.props;
const displayedProducts = maxItems ? products.slice(0, maxItems) : products;
---

{displayedProducts.length > 0 && (
  <section class="py-16 w-full bg-white">
    <div class="container mx-auto px-4">
      {title && <SectionHeader lang={lang} title={title} subtitle={subtitle} theme="light" />}
      
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-6">
        {displayedProducts.map((product, index) => (
          <a href={`/product/${product.id}`} class="block h-full">
            <ProductCard product={product} index={index} lang={lang} />
          </a>
        ))}
      </div>
    </div>
  </section>
)}
